@*Index.cshtml
    By: John Symborski
    Capstone Group 2
    Main Index page for web portal*@

@{
    ViewBag.Title = "AI Web Home Page";
}

@section JavaScript
{
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVeBsTfPuZmDbxiBsCQrFoktNl_PzQiV4&sensor=false"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/moment.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/daterangepicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/maps.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/ajax-data.js")"></script>
}

@section Styles {
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/daterangepicker.css")" rel="stylesheet" type="text/css" />
}



<div class="container" style="align-content:center; width:100%">
    <div id="map_canvas" style="width: 75%; height: 650px; float:left;">
    </div>
    <div style="width:20%;float:right;margin:5px;text-align:center;border:1px solid #ccc">
        <h2> Navigate To: </h2>
        <div class="list-group" id="station_list">
        </div>
    </div>
</div>

<div id="modalContainer" class="container">
    <div id="modalConfigSettings" class="modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 id="modalConfigSettingsTitle" class="modal-title">Modal Header</h4>
                </div>
                <div id="modalConfigSettingsBody" class="modal-body">
                </div>
            </div>
        </div>
    </div>
</div>

<hr />

<ul id="TableSwitching" class="nav nav-tabs" style="display:none">
    <li class="active" id="WeatherResultsTab" onclick="DisplayWeatherContent()"><a href="#/">Weather Results</a></li>
    <li id="AIResultsTab" onclick="DisplayAITable()"><a href="#/">AI Predictions</a></li>
</ul>

<div class="container" style="align-content:center; margin:10px">
    <div id="resultrange" class="pull-right" style="display:none;background:#fff;cursor:pointer;padding:5px 10px; border:1px solid #ccc;width:30%;margin:5px;">
        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
        <span class="right"></span> <b class="caret"></b>
    </div>
    <div id="map_list" style="width: 100%;">
    </div>
    <div id="ai_info_list" style="display:none">
        @*PlaceHolder for now*@
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td>john@example.com</td>
                </tr>
                <tr>
                    <td>Mary</td>
                    <td>Moe</td>
                    <td>mary@example.com</td>
                </tr>
                <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td>july@example.com</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    var weatherList =@Html.Raw(Json.Encode(ViewBag.WeatherStations));
    $(document).ready(function () {
        initialize(weatherList);
    });
</script>


